<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function showSidebar() {
        const sidebar = document.querySelector('.sidebar')
        sidebar.style.display = 'flex'
    }
    function hideSidebar() {
        const sidebar = document.querySelector('.sidebar')
        sidebar.style.display = 'none'
    }
</script>
<header id="header-scroll" class="small"
    style="background-color:#5F4587;  background-repeat: no-repeat; height: 10px; margin-top: 0;">
    <nav>

        <ul>
            <li class="hideOnMobile"><a href="#portfolio-intro">Home</a></li>
            <li class="hideOnMobile"><a href="#2">About</a></li>
            <li class="hideOnMobile"><a href="#3">Skills</a></li>
            <li class="hideOnMobile"><a href="#4">Education</a></li>
            <li class="hideOnMobile"><a href="#5">Contacts</a></li>
            <!--  <li onclick=showSidebar()><a><span class="material-symbols-outlined"> menu </span></a></li> -->
        </ul>
        <ul class="sidebar">
            <li onclick=hideSidebar()><a href="#"><span class="material-symbols-outlined"> close </span></a></li>
            <li><a href="#1"> <i class="fa fa-fw fa-home"></i> Home</a></li>
            <li><a href="#2">About</a></li>
            <li><a href="#3">Skills</a></li>
            <li><a href="#4">Education</a></li>
            <li><a href="#5"> <i class="fa fa-fw fa-envelope"> </i>Contacts</a></li>
        </ul>
    </nav>
</header>