<section id="2" style=" border-bottom: 1px solid #5f4587; padding-top: 16px;">
    <div class="About" style="padding-top: 10px;">
        <h1>About me</h1>
        <!-- About me section  -->
        <br>
        <p><strong>PHETHO K MODIMOOTHATA</strong></p>
        <br>
        <p>Hello, I am a 3rd year computer systems engineering student with a penchant for technology and a
            desire to leverage my academic knowledge to contribute to a dynamic computing environment.I thrive on
            transforming complex problems into elegant solutions through the power of code. My journey
            in the world of software design began has just begun, and I've been on a continuous learning path,
            staying at the forefront of emerging technologies and industry trends
        </p>
        <br>
        <p>My interests include Web & Software development, ethical hacking and Cyber security. Hobbies include
            reading, cooking and crocheting.</p>
        <br>
        <a href="assets\Phetho Modimoothata CV.pdf" class="button" download="Phetho Modimoothata CV.pdf"> <button
                type="button" style="text-decoration: none;">
                Download my CV
                📥</button></a>
    </div>
</section>