<!-- <section id="1" style=" height: 600px; margin-top: 0;">
     header 
    <div class="profile-container">
        <div class="pro">
            <img id="profile" src="assets\images\propic.jpg" width="250" height="370">

            <h2 id="name" style="font-size: 30px;">Phetho K. Modimoothata</h2>
            <br>
            <p style="font-size: 25px; color:black; font-style: sans-serif;">
                Software Developer
            </p>
        </div>
    </div>
</section> -->
<section id="portfolio-intro" style="height: 600px; margin-top: 0; background-color: #5f4587;">
    <!-- Portfolio introduction -->
    <div class="profile-container">
        <div class="pro">
            <img id="profile" src="assets\images\propic.jpg" alt="Profile Picture" width="250" height="370">
        </div>
        <div class="text-container">
            <h2 id="name">Phetho K. Modimoothata</h2>
            <p>Software Developer</p>
        </div>
    </div>
</section>